{% extends 'base.html' %}

{% block content %}

<h2>Hello {{ user.username|default:'Guest'}}!</h2>
<div class='d-flex flex-column'>
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
        <a href="{% url 'password_change' %}">Change password</a>
        <a href="{% url 'edit_profile' %}">Edit Profile</a>
        <a href="{% url 'add_post' %}">New Post</a>
        <br>
        <div class='container'>
            <ul>
            {% for post in object_list %}
                <li>{{post.description}} - {{post.author}} - {{post.post_date}}<br><br>
                {{post.body}}</li>
                <br>
                <form id='form{{post.id}}' data-role = 'like_form' action="{% url 'like_post' post.id %}" data-url="{% url 'like_post' post.id %}" method='post'>
                    {% csrf_token %}
                        <button type='submit' id='btn{{post.id}}' data-id='{{post.id}}' data-name='like_btn' value='{{ post.id }}' class='btn btn-danger btn-sm'>
                            <span id = 'btn_text{{post.id}}'>
                                Porra
                            </span>
                        </button>
                     - Liked by 
                    {% for entry in post.who_liked  %}
                        <span class='text-info'>
                        {{entry.username}}
                        </span>               
                    {% endfor %}
                </form>
                <br>
                post id {{post.id}} {{liked}}
                <hr>
                <br>
            {% endfor %}
            </ul>
        </div>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type='text/javascript'>
    $(document).ready(function(event){
        $('[data-role = like_form]').on('click', '[data-name = like_btn]', function(e){
        e.preventDefault();
        var $like_form = $(e.delegateTarget);
        var $like_btn = $(e.currentTarget);
        var url = $like_form.data('url');
        var pk =  $like_btn.data('id');
        var btn = 'btn' + pk.toString()
        $.ajax({
            type: 'POST',
            url: url,
            data: {
                'post_id': pk,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'action': 'post'
            },
            success: function(response){
                //$('#dashboard').html(response['liked'])
                document.getElementById(btn).innerText = response['liked'],
                console.log(response)
            },
            error: function(rs, e){
                console.log(rs.responseText);
            },
        });
    });
    })
</script>
{% endblock  %}