{% extends 'base.html' %}

{% block content %}

<h2>Hello {{ user.username|default:'Guest'}}!</h2>
<div class='d-flex flex-column'>
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
        <a href="{% url 'password_change' %}">Change password</a>
        <a href="{% url 'edit_profile' %}">Edit Profile</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
</div>
<br>
<div class='container'>
<ul>
{% for post in object_list %}
    <li>{{post.description}} | {{post.author}}<br><br>
    {{post.body}}</li>
{% endfor %}
</ul>
</div>

{% endblock  %}